<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- // TODO:在這裡修改模擬器資訊 -->
    <add key="DeviceId" value="[模擬器的DeviceId名稱]" />
    <add key="DeviceKey" value="[模擬器的Key]" />
    <add key="IoTHubUrl" value="[IoT Hub的Url]" />
    <add key="IoTGateway" value="[IoT Gateway的Url]"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>